---

import ReactPages from "../../components/react/ReactPages";

import MainLayout from "../../layouts/MainLayout.astro";

const res = await fetch(`https://www.alibaba.ir/${Astro.url.pathname}`)
const text =await res.text()

---


<MainLayout>
    <style>
        .alibaba-hotel-page {
            #header{
                display: none !important;
            }
        }
    </style>
    <div class="mt-5">

        <div class=" w-full alibaba-hotel-page flex items-center">
            <Fragment set:html={text}/>
        </div>
        <ReactPages client:only="react" />
    </div>
</MainLayout>
