---


import LinariaThemeProvider from "../components/react/LinariaThemeProvider";

---



<div>
    <script src="/src/pwa.ts"></script>
    <LinariaThemeProvider client:load>
        <slot />
    </LinariaThemeProvider>
</div>

