---


import LinariaThemeProvider from "../components/react/LinariaThemeProvider";
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

---



<div>
    <script src="/src/pwa.ts"></script>
    <meta charset="utf-8" />
    <Header/>
    <ViewTransitions />
    <LinariaThemeProvider client:load>
        <slot />
    </LinariaThemeProvider>
</div>

