---


import LinariaThemeProvider from "../components/react/LinariaThemeProvider";
import Header from "../components/Header.astro";

---



<div>
    <script src="/src/pwa.ts"></script>
    <Header/>
    <LinariaThemeProvider client:load>
        <slot />
    </LinariaThemeProvider>
</div>

