---


import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";



const { title, description} = Astro.props;


---



<html lang="fa">
<head>
    <BaseHead title={title} description={description} />
</head>
<body>
<div>
    <script src="/src/pwa.ts"></script>
    <meta charset="utf-8" />
    <Header/>
    <slot />
</div>
</body>
</html>

